div{
    /* Layout Properties */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 3006px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.name{
    /* Layout Properties */
    position: absolute;
    top: 20px;
    left: 360px;
    width: 274px;
    height: 190px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 80px/95px SF Pro Text;
    letter-spacing: 0px;
    /* border-bottom:solid 3px; */
    color: #000000;
    opacity: 1;
}

.line1{
    /* Layout Properties */
    position: absolute;
    top: 254px;
    left: 360px;
    width: 1200px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #000000;
    opacity: 1
}

.picture1{
    /* Layout Properties */
    position: absolute;
    top: 302px;
    left: 360px;
    width: 324px;
    height: 324px;
    /* UI Properties */
    background: transparent url('img/photo-1536180931879-fd2d652efddc.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.profile_ch{
    /* Layout Properties */
    position: absolute;
    top: 674px;
    left: 360px;
    width: 128px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.profile_en{
    /* Layout Properties */
    position: absolute;
    top: 680px;
    left: 504px;
    width: 101px;
    height: 36px;
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
}

.line2{
    /* Layout Properties */
    position: absolute;
    top: 730px;
    left: 360px;
    width: 1200px;
    height: 0px;
    border: 1px solid #000000;
    opacity: 1;
}

.profile_text1{
    /* Layout Properties */
    position: absolute;
    top: 746px;
    left: 360px;
    width: 440px;
    height: 108px;
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.profile_text2{
    /* Layout Properties */
    position: absolute;
    top: 878px;
    left: 360px;
    width: 696px;
    height: 108px;
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.educatoin_ch{
    /* Layout Properties */
    position: absolute;
    top: 1050px;
    left: 360px;
    width: 64px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1
}

.educatoin_en{
    /* Layout Properties */
    position: absolute;
    top: 1056px;
    left: 440px;
    width: 143px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
}

.line3{
    /* Layout Properties */
    position: absolute;
    top: 1106px;
    left: 360px;
    width: 1200px;
    height: 0px;
    /* UI Properties */
    border: 1px solid #000000;
    opacity: 1;
}

.educatoin_text1{
    /* Layout Properties */
    position: absolute;
    top: 1122px;
    left: 360px;
    width: 603px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.educatoin_text2{
    /* Layout Properties */
    position: absolute;
    top: 1174px;
    left: 360px;
    width: 422px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.div_temp1{
    /* Layout Properties */
    position: absolute;
    top: 1274px;
    left: 0px;
    width: 1920px;
    height: 460px;
    /* UI Properties */
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
}

.skill_ch{
    /* Layout Properties */
    position: absolute;
    top: 1288px;
    left: 882px;
    width: 64px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.skill_en{
    /* Layout Properties */
    position: absolute;
    top: 1294px;
    left: 962px;
    width: 84px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.line4{
    /* Layout Properties */
    position: absolute;
    top: 1354px;
    left: 462px;
    width: 996px;
    height: 0px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.skill_text1{
    /* Layout Properties */
    position: absolute;
    top: 1374px;
    left: 876px;
    width: 200px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skill_text2{
    /* Layout Properties */
    position: absolute;
    top: 1418px;
    left: 878px;
    width: 186px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skill_text3{
    /* Layout Properties */
    position: absolute;
    top: 1462px;
    left: 885px;
    width: 114px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;;
}

.skill_text4{
    /* Layout Properties */
    position: absolute;
    top: 1506px;
    left: 877px;
    width: 176px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skill_text5{
    /* Layout Properties */
    position: absolute;
    top: 1550px;
    left: 885px;
    width: 50px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skill_text6{
    /* Layout Properties */
    position: absolute;
    top: 1594px;
    left: 877px;
    width: 180px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skill_text7{
    /* Layout Properties */
    position: absolute;
    top: 1638px;
    left: 885px;
    width: 192px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.line5{
    /* Layout Properties */
    position: absolute;
    top: 1394px;
    left: 852px;
    width: 0px;
    height: 300px;
    /* UI Properties */
    border: 1px solid #96A9C4;
    opacity: 1;
}



.work_ch{
    /* Layout Properties */
    position: absolute;
    top: 1788px;
    left: 360px;
    width: 128px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.work_en{
    /* Layout Properties */
    position: absolute;
    top: 1794px;
    left: 504px;
    width: 250px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
}

.line6{
    /* Layout Properties */
    position: absolute;
    top: 1854px;
    left: 360px;
    width: 1200px;
    height: 0px;
    /* UI Properties */
    border: 1px solid #000000;
    opacity: 1;
}

.line7{
    /* Layout Properties */
    position: absolute;
    top: 1870px;
    left: 384px;
    width: 0px;
    height: 654px;
    /* UI Properties */
    border: 1px solid #96A9C4;
    opacity: 1;
}

.work_text1{
    /* Layout Properties */
    position: absolute;
    top: 1870px;
    left: 408px;
    width: 509px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.picture2{
    /* Layout Properties */
    position: absolute;
    top: 1906px;
    left: 408px;
    width: 100px;
    height: 100px;
    /* UI Properties */
    background: transparent url('img/Group 6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.work_text2{
    /* Layout Properties */
    position: absolute;
    top: 2006px;
    left: 408px;
    width: 642px;
    height: 150px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 20px/30px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.work_text3{
    /* Layout Properties */
    position: absolute;
    top: 2180px;
    left: 408px;
    width: 377px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.work_text4{
    /* Layout Properties */
    position: absolute;
    top: 2240px;
    left: 408px;
    width: 370px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.work_text5{
    /* Layout Properties */
    position: absolute;
    top: 2300px;
    left: 408px;
    width: 467px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.work_text6{
    /* Layout Properties */
    position: absolute;
    top: 2360px;
    left: 408px;
    width: 423px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.picture3{
    /* Layout Properties */
    position: absolute;
    top: 2396px;
    left: 408px;
    width: 100px;
    height: 100px;
    /* UI Properties */
    background: transparent url('img/Group 7.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.work_text7{
    /* Layout Properties */
    position: absolute;
    top: 2496px;
    left: 408px;
    width: 400px;
    height: 30px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 20px/30px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.div_temp2{
    /* Layout Properties */
    position: absolute;
    top: 2606px;
    left: 0px;
    width: 1920px;
    height: 400px;
    /* UI Properties */
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
}

.cintact_ch{
    /* Layout Properties */
    position: absolute;
    top: 2630px;
    left: 782px;
    width: 128px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cintact_en{
    /* Layout Properties */
    position: absolute;
    top: 2636px;
    left: 926px;
    width: 320px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.line8{
    /* Layout Properties */
    position: absolute;
    top: 2686px;
    left: 360px;
    width: 1200px;
    height: 0px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.cintact_text1{
    /* Layout Properties */
    position: absolute;
    top: 2710px;
    left: 810px;
    width: 311px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cintact_text2{
    /* Layout Properties */
    position: absolute;
    top: 2762px;
    left: 847px;
    width: 236px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cintact_text3{
    /* Layout Properties */
    position: absolute;
    top: 2814px;
    left: 857px;
    width: 207px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cintact_text4{
    /* Layout Properties */
    position: absolute;
    top: 2866px;
    left: 696px;
    width: 530px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.picture4{
    /* Layout Properties */
    position: absolute;
    top: 2938px;
    left: 864px;
    width: 48px;
    height: 48px;
    /* UI Properties */
    background: transparent url('img/facebook.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.picture5{
    /* Layout Properties */
    position: absolute;
    top: 2938px;
    left: 936px;
    width: 48px;
    height: 48px;
    /* UI Properties */
    background: transparent url('img/instagram-alt.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.picture6{
    /* Layout Properties */
    position: absolute;
    top: 2938px;
    left: 1008px;
    width: 48px;
    height: 48px;
    /* UI Properties */
    background: transparent url('img/line.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

h1:hover, img:hover, p:hover, hr:hover{
    border:solid #96A9C4;
}